body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(255, 255, 218);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.ToDoList {
  max-width: 400px;
  margin: 1em auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgb(247, 247, 245);
}

.todo-tasks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.todo-tasks p {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.Completed {
  text-decoration: line-through;
}

.edit-btn {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 0.2em;
}

.delete-btn {
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 0.2em;
}

.edit-btn:hover {
  background-color: #0056b3;
}

.delete-btn:hover {
  background-color: #800000;
}

.todo-form {
  margin-top: 20px;
}

.todo-input {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.todo-btn {
  background-color: #45a700;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
}

.todo-btn:hover {
  background-color: #277a00;
}
